<div id="cadastros-clientes" class="page-layout carded fullwidth single-scroll doc-page element-doc-page" layout="row">
  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center" layout="column" flex>
    <!-- TOP BACKGROUND -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
      <div layout="column" layout-align="center start">
        <div class="breadcrumb" layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-home" class="s16"></md-icon>
          <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
          <span class="parent">Cadastros</span>
          <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
          <span class="parent">Clientes</span>
        </div>
        <div class="title">Cadastrar Cliente
          <md-icon md-font-icon="icon-cart" class="s40"></md-icon>
        </div>
      </div>
    </div>
    <!-- / TOP BACKGROUND -->
    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar" layout="row" layout-align="start center">
        <md-button class="md-icon-button" aria-label="More" ng-click="vm.voltar()">
          <md-tooltip md-direction="top">
            Voltar
          </md-tooltip>
          <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
        </md-button>
        <md-divider class="vertical-divider"></md-divider>
        <md-button class="md-icon-button" aria-label="salvar" ng-disabled="usuarioForm.$invalid || usuarioForm.$pristine">
          <md-tooltip md-direction="top">
            Salvar
          </md-tooltip>
          <md-icon md-font-icon="icon-content-save" aria-label="salvar"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-tooltip md-direction="top">
            Editar
          </md-tooltip>
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-tooltip md-direction="top">
            Atualizar
          </md-tooltip>
          <md-icon md-font-icon="icon-refresh"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-tooltip md-direction="top">
            Imprimir
          </md-tooltip>
          <md-icon md-font-icon="icon-printer"></md-icon>
        </md-button>
        <md-divider class="vertical-divider"></md-divider>
        <md-button class="md-icon-button" aria-label="More">
          <md-tooltip md-direction="top">
            Excluir
          </md-tooltip>
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
      </div>
      <!-- / CONTENT TOOLBAR -->
      <!-- CONTENT -->
      <md-content class="content" flex ms-scroll>
        <div layout="row">
          <md-tabs md-dynamic-height md-border-bottom flex>
            <md-tab label="Dados básico">
              <md-content class="md-padding">
                <!-- BASIC FORM -->
                <div class="form-wrapper md-whiteframe-1dp" flex="50" flex-gt-sm="50" flex-gt-xs="100">
                  <form name="usuarioForm" class="md-inline-form" novalidate>
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                        <input type="text" name="nome" ng-model="vm.cliente.nome" placeholder="Nome" required>
                        <div ng-messages="usuarioForm.nome.$error" role="alert">
                          <div ng-message="required">
                            <span>O nome é obrigatório.</span>
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                        <input type="email" name="email" ng-model="vm.cliente.email" placeholder="Email" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="usuarioForm.email.$error" role="alert" multiple>
                          <div ng-message="pattern">
                            <span>Email deve ser válido!</span>
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row" flex>
                      <md-input-container flex flex-gt-xs="50">
                        <input type="password" name="senha" ng-model="vm.usuario.senha" placeholder="Senha" required>
                        <div ng-messages="usuarioForm.senha.$error" role="alert">
                          <div ng-message="required">
                            <span>Senha é obrigatória.</span>
                          </div>
                        </div>
                      </md-input-container>
                      <md-input-container flex="100" flex-gt-xs="50">
                        <input type="password" name="senhaConfirma" ng-pattern="\b{{vm.usuario.senha}}\b" ng-model="vm.usuario.senhaConfirma" placeholder="Senha (Confirmar)" required>
                        <div ng-messages="usuarioForm.senhaConfirma.$error" role="alert">
                          <div ng-message="required">
                            <span>Confirmação de senha obrigatória.</span>
                          </div>
                          <div ng-message="pattern">Senha não conferem!</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                      <md-input-container flex>
                        <label>Situação</label>
                        <md-select ng-model="vm.usuario.situacao">
                          <md-option ng-repeat="situacao in vm.situacoes" value="{{situacao.id}}">
                            {{situacao.descricao}}
                          </md-option>
                        </md-select>
                        <div ng-messages="usuarioForm.situacao.$error" role="alert" multiple>
                          <div ng-message="required"><span>Situação é obrigatória.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                      <label>Observações</label>
                      <textarea ng-model="vm.usuario.observacoes" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit" ng-disabled="usuarioForm.$invalid || usuarioForm.$pristine">
                      Salvar
                    </md-button>
                  </form>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Produtos e Serviços">
              <md-content class="md-padding">
                <!-- / BASIC FORM -->
                <!-- BASIC FORM DATA -->
                <div layout="row" class="md-whiteframe-1dp" flex="100" layout-wrap>
                  <!-- <div class="form-title">Permissões:</div> -->
                  <h4>Produtos e Serviços</h4>
                </div>
                <!-- / BASIC FORM DATA -->
              </md-content>
            </md-tab>
            <md-tab label="Comercial">
              <md-content class="md-padding">
                <!-- / BASIC FORM -->
                <!-- BASIC FORM DATA -->
                <div layout="row" class="md-whiteframe-1dp" flex="100" layout-wrap>
                  <!-- <div class="form-title">Permissões:</div> -->
                  <h4>Comercial</h4>
                </div>
                <!-- / BASIC FORM DATA -->
              </md-content>
            </md-tab>
            <md-tab label="Financeiro">
              <md-content class="md-padding">
                <!-- / BASIC FORM -->
                <!-- BASIC FORM DATA -->
                <div layout="row" class="md-whiteframe-1dp" flex="100" layout-wrap>
                  <!-- <div class="form-title">Permissões:</div> -->
                  <h4>Financeiro</h4>
                </div>
                <!-- / BASIC FORM DATA -->
              </md-content>
            </md-tab>
            <md-tab label="Perfil do cliente">
              <md-content class="md-padding">
                <!-- / BASIC FORM -->
                <!-- BASIC FORM DATA -->
                <div layout="row" class="md-whiteframe-1dp" flex="100" layout-wrap>
                  <!-- <div class="form-title">Permissões:</div> -->
                  <h4>Perfil do cliente</h4>
                </div>
                <!-- / BASIC FORM DATA -->
              </md-content>
            </md-tab>
          </md-tabs>
        </div>
      </md-content>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
