<div id="painel-controle" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg">
    	<div layout="row" layout-align="start center">
    		 <span class="md-display-1 font-weight-300">Bem vindo {{$rootScope.user.name|| $rootScope.user.email}}!</span>
    	</div>
                       

    <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate" layout="row" layout-align="start center">
	        <span class="primeira-icone">
	            <md-icon md-font-icon="icon-view-dashboard" class="icon"></md-icon>
	        </span>
            <span class="md-accent-bg" data-ng-repeat="path in vm.path">{{path}}
                <md-icon md-font-icon="icon-chevron-right" class="icon separator"></md-icon>
            </span>
        </div>
        <!-- / BREADCRUMB -->                    
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab label="Cadastros">
                  <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="60" layout-wrap>

                    <ms-widget style="height: 150px" data-ng-repeat="atalho in vm.atalhos" flippable="true" layout="column" flex="60" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg" ng-click="flipWidget()" >
                                <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>
                                   <!--  <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu> -->
                                </div>

                                <div class="pb-50" layout="column" layout-align="center center">
                                <!-- <md-icon md-font-icon="{{}}" class="s60"></md-icon> -->
                                <i class="icon icon-{{::atalho.icone}} s60"></i>
                                
                                    <div class="light-blue-fg font-size-20 line-height-20">
                                        {{atalho.descricao}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                                </div>
<!-- 
                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">{{vm.widget1.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget1.data.extra.count[vm.widget1.currentRange]}}</span>
                                </div> -->
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 white-bg">
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget1.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 1 -->

                    </div>
                    <!-- / WIDGET GROUP -->
            </md-tab>

            <md-tab label="Administrativo">
                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/ui/page-layouts/demo/demo-content.html'"></div>
                <!-- / DEMO CONTENT -->
            </md-tab>

            <md-tab label="Relatorios">
                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/ui/page-layouts/demo/demo-content.html'"></div>
                <!-- / DEMO CONTENT -->
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>