/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
md-toast.md-error-toast-theme div.md-toast-content{
    color: white !important;
    background-color: #ef8812 !important;
}

md-toast.md-success-toast-theme div.md-toast-content{
    color: white !important;
    background-color: green !important;
}

.vertical-divider {
  border-top-width: 0  !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  height: 100% !important;
}