 <!-- WIDGET 1 -->
  {{scope.valor}}
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="100" flex-gt-md="100">

                            <!-- Front -->
                            <ms-widget-front class="white-bg" ng-click="flipWidget()" >
                                <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>
                                   <!--  <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu> -->
                                </div>

                                <div class="pt-8 pb-32" layout="column" layout-align="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{vm.widget1.data.count[vm.widget1.currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                                </div>

                                <div class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                                    <span class="h4 secondary-text text-truncate">{{vm.widget1.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget1.data.extra.count[vm.widget1.currentRange]}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 white-bg">
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget1.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 1 -->