<div id="painel-controle" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
    <div class="header md-accent-bg">
    	<div layout="row" layout-align="start center">
    		 <span class="md-display-1 font-weight-300">Bem vindo {{$rootScope.user.name|| $rootScope.user.email}}!</span>
    	</div>
                       

    <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate" layout="row" layout-align="start center">
	        <span class="primeira-icone">
	            <md-icon md-font-icon="icon-view-dashboard" class="icon"></md-icon>
	        </span>
            <span class="md-accent-bg" data-ng-repeat="path in vm.path">{{path}}
                <md-icon md-font-icon="icon-chevron-right" class="icon separator"></md-icon>
            </span>
        </div>
        <!-- / BREADCRUMB -->                    
    </div>
    <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label="Cadastros">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <ms-widget style="height: 150px" data-ng-repeat="atalho in vm.atalhos" flippable="false" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg" ng-click="vm.redirecionar(atalho.state)" >
                               <div class="pt-25" layout="column" layout-align="center center">
                                 	<i class="icon icon-{{::atalho.icone}} s60"></i>
                                
                                    <div class="light-blue-fg font-size-20 line-height-20">
                                        {{atalho.descricao}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>    
                        <!-- / WIDGET 1 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Administrativo">

                     <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <ms-widget style="height: 150px" data-ng-repeat="atalho in vm.atalhos" flippable="false" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg" ng-click="vm.redirecionar(atalho.state)" >
                               <div class="pt-25" layout="column" layout-align="center center">
                                    <i class="icon icon-{{::atalho.icone}} s60"></i>
                                
                                    <div class="light-blue-fg font-size-20 line-height-20">
                                        {{atalho.descricao}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>    
                        <!-- / WIDGET 1 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Relatorios">

                     <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <ms-widget style="height: 150px" data-ng-repeat="atalho in vm.atalhos" flippable="false" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

                            <!-- Front -->
                            <ms-widget-front class="white-bg" ng-click="vm.redirecionar(atalho.state)" >
                               <div class="pt-25" layout="column" layout-align="center center">
                                    <i class="icon icon-{{::atalho.icone}} s60"></i>
                                
                                    <div class="light-blue-fg font-size-20 line-height-20">
                                        {{atalho.descricao}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">{{vm.widget1.data.label}}</div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>    
                        <!-- / WIDGET 1 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>
                
            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
                ms-scroll ms-sidenav-helper>

        <!-- WIDGET GROUP -->
        <div class="widget-group">

            <!-- NOW WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h3">{{vm.nowWidget.now.weekDay}},
                            {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}
                        </div>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16 pb-24" layout="column" layout-align="center center">
                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.month}}</span>
                        </div>

                        <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                            {{vm.nowWidget.now.day}}
                        </div>

                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.year}}</span>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / NOW WIDGET -->


            <!-- WEATHER WIDGET -->
            <ms-widget flippable="false" class="sidenav-widget">

                <!-- Front -->
                <ms-widget-front>

                    <div class="pl-16 pr-8 pv-16" layout="row" layout-align="space-between center">
                        <div class="h4">
                            <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
                            {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].name}}
                        </div>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16 pb-32" layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon
                                    md-font-icon="{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].icon}}"
                                    class="icon s40 mr-16"></md-icon>
                            <span class="md-display-2 font-weight-300 secondary-text">
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].temp[vm.weatherWidget.tempUnit]}}
                            </span>
                            <span class="font-size-48 font-weight-300 hint-text text-super ml-8">&deg;</span>
                            <span class="md-display-2 font-weight-300 hint-text">{{vm.weatherWidget.tempUnit}}</span>
                        </div>
                    </div>

                    <div class="grey-300-bg p-16" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-weather-windy" class="icon mr-8 s20"></md-icon>
                            <span>
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windSpeed[vm.weatherWidget.speedUnit]}}
                            </span>
                            <span class="secondary-text ml-5">{{vm.weatherWidget.speedUnit}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-compass-outline" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windDirection}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-umbrella" class="icon mr-8 s20"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].rainProbability}}</span>
                        </div>
                    </div>

                    <div class="pv-16">
                        <div class="pv-16 ph-24" layout="row" layout-align="space-between center"
                             ng-repeat="day in vm.weatherWidget.locations[vm.weatherWidget.currentLocation].next3Days">
                            <span class="h4">{{day.name}}</span>
                            <div layout="row" layout-align="start center">
                                <md-icon class="mr-16" md-font-icon="{{day.icon}}" class="icon"></md-icon>
                                <span class="h2">{{day.temp[vm.weatherWidget.tempUnit]}}</span>
                                <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                <span class="h2 font-weight-300 secondary-text">{{vm.weatherWidget.tempUnit}}</span>
                            </div>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WEATHER WIDGET -->

        </div>
        <!-- / WIDGET GROUP -->

    </md-sidenav>
    <!-- / SIDENAV -->

</div>