<div id="cadastros-usuarios" class="page-layout simple tabbed doc-page element-doc-page" ng-cloak>
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Cadastros</span>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Usuários</span>
      </div>
      <div class="title">Cadastrar Usuário</div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content">
    <div layout="row">
      <div flex>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More" ng-click="vm.voltar()">
              <md-tooltip md-direction="top">
                Voltar
              </md-tooltip>
              <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
            </md-button>
            <md-divider class="vertical-divider"></md-divider>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-tooltip md-direction="top">
                Salvar
              </md-tooltip>
              <md-icon md-font-icon="icon-content-save"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-tooltip md-direction="top">
                Editar
              </md-tooltip>
              <md-icon md-font-icon="icon-pencil"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
              <md-tooltip md-direction="top">
                Atualizar
              </md-tooltip>
              <md-icon md-font-icon="icon-refresh"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
              <md-tooltip md-direction="top">
                Imprimir
              </md-tooltip>
              <md-icon md-font-icon="icon-printer"></md-icon>
            </md-button>
            <md-divider class="vertical-divider"></md-divider>
            <md-button class="md-icon-button" aria-label="More">
              <md-tooltip md-direction="top">
                Excluir
              </md-tooltip>
              <md-icon md-font-icon="icon-delete"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <!-- <md-fab-toolbar md-open="vm.isOpen" count="vm.count"
		                  md-direction="{{vm.selectedDirection}}">
		    <md-fab-trigger class="align-with-text">
		      <md-button aria-label="menu" class="md-fab md-primary">
		        <md-icon  md-font-icon="icon-view-headline"></md-icon>
		      </md-button>
		    </md-fab-trigger>
		    <md-toolbar>
		      <md-fab-actions class="md-toolbar-tools">
		        <md-button aria-label="comment" class="md-icon-button">
		          <md-icon md-font-icon="icon-pencil"></md-icon>
		        </md-button>
		        <md-button aria-label="label" class="md-icon-button">
		          <md-icon md-font-icon="icon-delete"></md-icon>
		        </md-button>
		        <md-button aria-label="photo" class="md-icon-button">
		          <md-icon md-font-icon="icon-save"></md-icon>
		        </md-button>
		      </md-fab-actions>
		    </md-toolbar>
		</md-fab-toolbar> -->
      </div>
    </div>
    <md-tabs md-dynamic-height>
      <md-tab label="Dados">
        <!-- DEMO CONTENT -->
        <div ng-include="'app/main/ui/page-layouts/demo/demo-content.html'"></div>
        <!-- / DEMO CONTENT -->
      </md-tab>
      <md-tab label="Permissões">
        <!-- DEMO CONTENT -->
        <div ng-include="'app/main/ui/page-layouts/demo/demo-content.html'"></div>
        <!-- / DEMO CONTENT -->
      </md-tab>
    </md-tabs>
  </div>
  <!-- / CONTENT -->
  <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div layout="row" layout-align="center center">
      <h4>With clickOutsideToClose option, drag down or press ESC to close</h4>
    </div>
    <div>
      <md-list flex layout="row" layout-align="center center">
        <md-list-item ng-repeat="item in items">
          <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <div class="md-grid-text"> {{ item.name }} </div>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </md-bottom-sheet>
</div>
